/*----------Variables*/
:root
{
    --pixel-unit : 1.5px;
}


/*----------Elements*/
html, body
{
    height : 100%;
    background : black;
    color : white;
    font-family : lightweight;
    margin : 0;
    padding : 0;
}

/*-----Sections*/
body
{
    display : flex;
    flex-direction : column;
}

*:not(.selectable),
.unselectable
{
    -moz-user-select : none;
    -khtml-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
}

header
{
    padding : 2px 0px;
}

main
{
    flex : 1;
    overflow-x : hidden;
    display : flex;
}

#mainContent
{
    overflow-x : hidden;
    overflow-wrap : break-word;
    width : 100%;
    padding : 8px;
}

/*-----Footer*/
footer
{
    background : white;
    color : black;
    padding : 2px;
    font-family : small-spaces;
}

footer[data-fadeState="1"]
{
    animation : 1s slideFooter;
}

footer[data-fadeState="2"]
{
    transform : translateY(100%);
    animation : reverse 0.5s slideFooter ease;
}

/*-----Components*/
a
{
    text-decoration : none;
    color : inherit;
}

img:not(.anti-aliased)
{
    image-rendering : -webkit-optimize-contrast;
    image-rendering : crisp-edges;
    image-rendering : pixelated;
    -ms-interpolation-mode : nearest-neighbor;
}

noscript
{
    position : fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    z-index : 690;
    display : flex;
    flex-direction : column;
    background : black;
    pointer-events : all;
}

noscript div
{
    position : relative;
    text-align : center;
    margin : auto;
    animation : linear fadeIO 1s infinite;
}


/*----------Classes*/
/*-----Header*/
.navList
{
    list-style-type : none;
    display : flex;
    flex-direction : row;
    justify-content : center;
    margin : 8px;
    padding : 0;
}

.navList li
{
    margin : space-between;
    padding : 8px;
    font-size : 20px;
}

.currentPage
{
    font-weight : bolder;
}

.line
{
    background : white;
    border : none;
    height : 1px;
}

/*-----Footer*/
.footerElements
{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}

.footerText1
{
    padding : 8px;
    padding-top : 4px;
    margin-bottom: 2px;
    margin-right : auto;
}

.buttonList
{
    padding : 4px;
    padding-bottom : 12px;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}

.buttonObject
{
    width : calc(30 * var(--pixel-unit));
    height : calc(30 * var(--pixel-unit));
    overflow : hidden;
    margin : calc(2 * var(--pixel-unit));
    display : flex;
    align-content : flex-start;
}

.buttonObject a
{
    position : relative;
}

.buttonObject img
{
    position : relative;
    width : calc(90 * var(--pixel-unit));
}

.btn_twt img
{
    top : calc(-30 * var(--pixel-unit));
}

.btn_yt img
{
    top : calc(-60 * var(--pixel-unit));
}

.btn_fb img
{
    top : calc(-90 * var(--pixel-unit));
}

.btn_insta img
{
    top : calc(-120 * var(--pixel-unit));
}

/*-----Info Tags*/
.infoTag1
{
    background : darkorange;
    padding : 8px;
}

/*-----Screen Fade*/
.fadeObject
{
    background : black;
    border : none;
    opacity : 0.0;
    position : fixed;
    margin : 0;
    padding : 0;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    z-index : 420;
    pointer-events : none;
}

.fadeObject[data-fadeState="1"]
{
    pointer-events : all;
    animation : 1s fade;
}

.fadeObject[data-fadeState="2"]
{
    opacity : 1.0;
    pointer-events : all;
    animation : reverse 0.5s fade ease;
}

/*-----Objects*/
.unselectable
{
    pointer-events : none;
}

.cursorObject
{
    animation : cursorObject linear 1s infinite;
}

/*Scrollbar*/
.scrollBar
{
    padding : calc(8 * var(--pixel-unit));
    display : flex;
    flex-direction : column;
    flex-wrap : wrap;
    width : calc(22 * var(--pixel-unit));
    justify-content : center;
    align-content : center;
}

.scrollBar div
{
    position : relative;
    width : calc(12 * var(--pixel-unit));
    height : calc(12 * var(--pixel-unit));
    overflow : hidden;
}

.scrollBarUp
{
    margin-top : calc(8 * var(--pixel-unit));
    margin-bottom : auto;
    animation : scrollBarUp linear 1s infinite;
}

.scrollBarDown
{
    margin-top : auto;
    margin-bottom : calc(8 * var(--pixel-unit));
    animation : scrollBarDown linear 1s infinite;
}

.scrollBar img
{
    position : relative;
    top : calc(-12 * var(--pixel-unit));
    left : calc(-12 *var(--pixel-unit));
    width : calc(24 * var(--pixel-unit));
}
/*----------Events*/
.navList a:focus,
.navList a:hover
{
    opacity : 0.5;
}

.buttonObject a:focus,
.buttonObject a:hover
{
    left : calc(-30 * var(--pixel-unit));
}

.buttonObject a:active
{
    left : calc(-60 * var(--pixel-unit));
}


/*----------Attributes*/
/*-----Scroll Bar*/
[data-scrollBar="hidden"]
{
    -ms-overflow-style : none;
    scrollbar-width : none;
    overflow-y : scroll;
    overflow-x : hidden;
    overflow-wrap : break-word;
}


[data-scrollBar="hidden"]::-webkit-scrollbar
{
    display: none;
}

[data-scrollBar="show"]
{
    -ms-overflow-style : initial;
    scrollbar-width : initial;
    overflow-y : initial;
    overflow-x : initial;
    overflow-wrap : initial;
}


[data-scrollBar="show"]::-webkit-scrollbar
{
    display: initial;
}