/*Elements*/
html, body
{
    height : 100%;
    background : black;
    color : white;
    font-family : lightweight;
    margin : 0;
    padding : 0;
}

body
{
    display : table;
    width : 100%;
    animation : fadeIn 1s;
}

header
{
    padding : 2px 0px;
}

section
{
    height : auto;
}

footer
{
    height : 1px;
    display : table-row;
    background : white;
    color : black;
    padding : 2px;
    animation : loadFooter 1s;
    font-family : small-spaces;
}

a
{
    text-decoration : none;
    color : inherit;
}

p
{
    padding-left : 8px;
}


/*Classes*/
.navList
{
    list-style-type : none;
    display : flex;
    flex-direction : row;
    justify-content : center;
    margin : 8px;
    padding : 0;
}

.navList li
{
    margin : space-between;
    padding : 8px;
    font-size : 20px;
}

.infoTag1
{
    background : darkorange;
    padding : 8px;
}

.line
{
    background : white;
    height : 1px;
}

.footerText1
{
    padding-top : 4px;
    padding-bottom : 12px;
    background : none;
}

.cursorObject
{
    animation : cursorObject linear 1s infinite;
}

.errText
{
    color : red;
}


/*Events*/
a:hover
{
    font-weight : bolder;
}