/*----------Variables*/
:root
{
    --pixel-unit : 1.5px;
}


/*----------Elements*/
html, body
{
    height : 100%;
    width : 100%;
    background : black;
    color : white;
    font-family : lightweight;
    margin : 0;
    padding : 0;
    pointer-events : none;
}

/*-----Sections*/
body
{
    display : table;
    animation : fadeIn 1s;
}

header
{
    padding : 2px 0px;
}

section
{
    position : absolute;
    max-width : 100%;
    width : auto;
    height : auto;
    overflow : hidden;
    overflow-wrap : break-word;
}

footer
{
    height : 1px;
    display : table-row;
    background : white;
    color : black;
    padding : 2px;
    animation : loadFooter 1s;
    font-family : small-spaces;
}

/*-----Components*/
p
{
    padding-left : 8px;
}

a
{
    text-decoration : none;
    color : inherit;
}

img:not(.anti-aliased)
{
    image-rendering : -webkit-optimize-contrast;
    image-rendering : crisp-edges;
    image-rendering : pixelated;
    -ms-interpolation-mode : nearest-neighbor;
}


/*----------Classes*/
/*-----Header*/
.navList
{
    list-style-type : none;
    display : flex;
    flex-direction : row;
    justify-content : center;
    margin : 8px;
    padding : 0;
}

.navList li
{
    margin : space-between;
    padding : 8px;
    font-size : 20px;
}

.currentPage
{
    font-weight : bolder;
}

.line
{
    background : white;
    height : 1px;
}

/*-----Footer*/
.footerElements
{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}

.footerText1
{
    padding-top : 4px;
    margin-bottom: 2px;
    margin-right : auto;
}

/*-----Info Tags*/
.infoTag1
{
    background : darkorange;
    padding : 8px;
}

.errText
{
    color : red;
    text-transform : uppercase;
}

/*-----Objects*/
.cursorObject
{
    animation : cursorObject linear 1s infinite;
}

.buttonList
{
    padding : 4px;
    padding-bottom : 12px;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}

.buttonObject
{
    width : calc(30 * var(--pixel-unit));
    height : calc(30 * var(--pixel-unit));
    overflow : hidden;
    margin : calc(2 * var(--pixel-unit));
}

.buttonObject img
{
    background : url("/img/social_logo.png");
    position : relative;
    width : calc(90 * var(--pixel-unit));
}

.btn_twt
{
    top : calc(-30 * var(--pixel-unit));
}

.btn_yt
{
    top : calc(-60 * var(--pixel-unit));
}

.btn_fb
{
    top : calc(-90 * var(--pixel-unit));
}

.btn_insta
{
    top : calc(-120 * var(--pixel-unit));
}

/*----------Events*/
.navList a:focus,
.navList a:hover
{
    opacity : 0.5;
}

.buttonObject img:focus,
.buttonObject img:hover
{
    left : calc(-30 * var(--pixel-unit));
}

.buttonObject img:active
{
    left : calc(-60 * var(--pixel-unit));
}