/*----------Fonts*/
@font-face
{
    font-family : "lightweight";
    src : url(/fonts/lightweight.ttf);
}

@font-face
{
    font-family : "small-spaces";
    src : url(/fonts/small-spaces.ttf);
}


/*----------Keyframes*/
@keyframes fade
{
    from
    {
        opacity : 1.0;
    }
    
    to
    {
        opacity : 0.0;
    }
}

/*-----Footer*/
@keyframes slideFooter
{
    from
    {
        transform : translateY(100%);
    }
    
    to
    {
        transform : none;
    }
}

/*-----Objects*/
@keyframes cursorObject
{
    0%
    {
        transform : none;
    }
    
    50%
    {
        transform : translate(25px, 0px);
    }
    
    100%
    {
        transform : none;
    }
}

/*Scrollbar*/
@keyframes scrollBarUp
{
    0%
    {
        transform : rotate(180deg);
    }
    
    50%
    {
        transform : translate(0px, -50%) rotate(180deg);
    }
    
    100%
    {
        transform : rotate(180deg);
    }
}

@keyframes scrollBarDown
{
    0%
    {
        transform : none;
    }
    
    50%
    {
        transform : translate(0px, 50%);
    }
    
    100%
    {
        transform : none;
    }
}